/* Bug Fix */

@media (max-width: 500px) {
  * {
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
  }
}

@media (hover: none) {
  a:hover {
    filter: inherit;
  }
  div:hover {
    filter: inherit;
  }
  button:hover {
    filter: inherit;
  }
}

*:disabled {
  filter: contrast(0.5);
  cursor: not-allowed;
}
*:hover *:disabled {
  cursor: not-allowed;
}

/* ==================
    Route Page Slide
   ==================
 */
.route__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s all ease;
}

.left .route-enter {
  transform: translateX(100%);
}

.left .route-enter-active {
  transform: translateX(0%);
}

.left .route-exit {
  transform: translateX(-100%);
}

.left .route-exit-active {
  transform: translateX(-100%);
}

.right .route-enter {
  transform: translateX(-100%);
}

.right .route-enter-active {
  transform: translateX(0%);
}

.right .route-exit {
  transform: translateX(100%);
}

/* 
  ================
  Scale Transition
  ================
 */

.scale-enter, .scale-exit-active{
  transform: scale(0);
}
.scale-enter-active, .scale-exit{
  transform: scale(1);
  transition: 0.3s all ease-out;
}